html {
  background-color: #D1D1D1;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title {
  text-align: center;
}

.content {
  padding: 1.5em 0;
  height: 80vh;
}

.regStart, .flagStart {
  position: relative;
  display:inline;
}

.regStart:before, .flagStart:before {
  content: '/';
  top: -2px;
  left: 5px;
  position: absolute;
}

textarea {
  min-height: 350px;
  resize: none;
}

.results {
  padding: 8px;
  min-height: 415px;
  height: 100%;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  background-color: #ffffff;
}

.found {
  color: #d15a5a;
}
